{% extends 'components/layout.html' %}

{% block content %}
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h1>Edit Post:</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.author.label(class="form-label") }}
                {{ form.author(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-control", rows="5") }}
            </div>

            <div class="mb-3">
                {{ form.slug.label(class="form-label") }}
                {{ form.slug(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
